.game {
  padding-top: 12px;
  padding-bottom: 220px;
}

.game__title {
  position: relative;
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.game__title::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  width: 675px;
  height: 762px;
  background-image: url("../img/s1_men.png");
}

.game__text {
  margin-bottom: 30px;
  padding-left: 100px;
  width: 700px;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
}

.game__marketing {
  margin-bottom: 150px;
  display: flex;
  align-items: flex-end;
  gap: 25px;
}

.game__marketing-block {
  width: 195px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}

.game__marketing-word1 {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  color: var(--color-header);
}

.game__marketing-word2 {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: var(--color-header);
}

.game__booking {
  position: relative;
  display: block;
  padding: 25px 69px;
  background-color: var(--color-fake-1);
  border-radius: 10px;
  border: 0 none;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: var(--color-text-1);
  text-transform: uppercase;
}

.game__booking::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-fake-1);
  filter: blur(20px);
}

.game__booking:hover {
  background-color: var(--color-fake-3);
}

.game__booking:focus {
  background-color: var(--color-fake-3);
  outline: none;
}

.game__booking:active {
  background-color: var(--color-fake-2);
}

.game__down {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 99px;
  height: 99px;
  background-image: url(../img/down.svg);
  background-repeat: no-repeat;
}

.game__down:hover {
  background-image: url(../img/down-hover.svg);
}

.game__down:focus {
  border: 1px solid var(--color-header);
  outline: none;
}

.game__down:active {
  background-image: url(../img/down-active.svg);
}





@media (max-width: 1250px) {
  .game {
    padding-top: 5px;
    padding-bottom: 135px;
  }
  
  .game__title {
    margin-bottom: 22px;
    font-size: 120px;
  }
  
  .game__title::after {
    top: 63px;
    right: -3px;
    width: 460px;
    height: 520px;
    background-repeat: no-repeat;
    background-size: 460px 520px;
  }
  
  .game__text {
    margin-bottom: 29px;
    font-size: 22px;
    line-height: 30px;
  }
  .game__marketing {
    margin-bottom: 80px;
  }
  
  .game__marketing-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 168px;
    font-size: 26px;
    line-height: 30px;
   }
  
  .game__marketing-word1 {
    font-size: 80px;
    line-height: 113px;
  }
  
  .game__marketing-word2 {
    font-size: 60px;
    line-height: 85px;
  }
  
  .game__booking {
    margin-left: 39px;
    padding: 17px 48px;
    /* width: 296px; */
    font-size: 22px;
  }
  
  
  .game__down {
    left: 50%;
    transform: translate(-50%, -70%);
    width: 67px;
    height: 67px;
    background-image: url(../img/down.svg);
    background-repeat: no-repeat;
    background-size: 67px;
  }
}

@media (max-width: 991px) {


  .game {
    padding-top: 6px;
    /* padding-bottom: 220px; */
  }
  
  .game__title {
    margin-bottom: 21px;
    padding-left: 3px;
    font-size: 86px;

  }
  
  .game__title::after {
    top: 59px;
    right: -7px;
    width: 423px;
    height: 477px;
    background-size: 423px 477px;
  }
  
  .game__text {
    margin-bottom: 50px;
    padding-left: 70px;
    width: 700px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .game__marketing {
    margin-bottom: 99px;
    align-items: flex-start;
  }
  
  .game__marketing-block {
    width: 101px;
    font-size: 16px;
    line-height: 18px;
  }
  
  .game__marketing-word1 {
    font-size: 50px;
    line-height: 71px;
  }
  
  .game__marketing-word2 {
    padding-top: 15px;
    font-size: 40px;
    line-height: 56px;
  }
  
  .game__booking {
    margin-left: 0;
    padding: 11px 34px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .game__down {
    display: none;
  }
}

@media (max-width: 767px) { 

  .game {
    padding-top: 6px;
    /* padding-bottom: 220px; */
  }
  
  .game__title {
    margin-bottom: 16px;
    padding-left: 1px;
    font-size: 60px;
    letter-spacing: -0.08em;

  }
  
  .game__title::after {
    top: 40px;
    right: 0;
    width: 293px;
    height: 328px;
    background-size: 293px 328px;
  }
  
  .game__text {
    margin-bottom: 42px;
    padding-left: 20px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  
  .game__marketing {
    margin-bottom: 60px;
    gap: 25px
  }
  
  .game__marketing-block {
    width: 91px;
    font-size: 12px;
    line-height: 14px;
  }
  
  .game__marketing-word1 {
    padding-top: 0px;
    font-size: 36px;
    line-height: 42px;
  }
  
  .game__marketing-word2 {
    padding-top: 0px;
    font-size: 36px;
    line-height: 42px;
  }
  
  .game__booking {
    padding: 9px 23px;
    font-size: 10px;
    line-height: 12px;
  }


  @media (max-width: 575px) {

    .game {
      padding-bottom: 64px;
    }
    
    .game__title {
      margin-bottom: 6px;
      padding-left: 1px;
      font-size: 35px;
      letter-spacing: -0.08em;
  
    }
    
    .game__title::after {
      top: 25px;
      right: 0;
      width: 161px;
      height: 179px;
      background-size: 161px 179px;
    }
    
    .game__text {
      margin-bottom: 2px;
      padding-left: 20px;
      width: 100%;
      font-size: 10px;
      line-height: 14px;
    }
    
    .game__marketing {
      margin-bottom: 30px;
      gap: 16px
    }
    
    .game__marketing-block {
      width: 64px;
      font-size: 10px;
      line-height: 11px;
    }
    
    .game__marketing-word1 {
      padding-top: 8px;
      font-size: 26px;
      line-height: 37px;
    }
    
    .game__marketing-word2 {
      padding-top: 15px;
      font-size: 22px;
      line-height: 31px;
    }
    
    .game__booking {
      padding: 7px 13px;
      font-size: 10px;
      line-height: 12px;
    }
  
    .game__down {
      display: none;
    }
  }
}